@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.catch {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  letter-spacing: -0.5rem;
  line-height: 1;
}

.catch-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: -0.2rem;
  line-height: 1;
}

.catch-num {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  letter-spacing: -0.5rem;
  line-height: 1;
  opacity: 25%;
}

.catch-b {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

.catch-sub {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.15rem;
}

.nav-menu {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  
}

.project-title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

@media (min-width: 320px) {
  button {
    width: 245px;
  }
}


@media (min-width: 375px) {
  button {
    width: 310px;
  }
}

@media (min-width: 425px) {
  .catch {
    font-size: 6rem;
  }
  .catch-b {
    font-size: 0.9rem;
  }
  button {
    width: fit-content;
  }
}

@media (min-width: 768px) {
  img {
    width: 400px;
  }
  .catch {
    font-size: 7rem;
  }
  .catch-b {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .catch {
    font-size: 12rem;
  }
  .catch-b {
    font-size: 1.2rem;
  }
}